* {
  margin: 0;
  padding: 0;
  line-height: 140%;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.navbar {
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
  font-family: 'Poppins', sans-serif;
}

.nav-links__item {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links__link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links__link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links__link:hover::after {
  width: 100%;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text__heading {
  font-size: 60px;
}

.hero-text__copy {
  font-size: 15px;
  margin: 10px 0 40px;
}

.hero-btn {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  background: transparent;
  text-decoration: none;
}

.hero-btn:hover {
  background: #f44336;
  border: 1px solid #f44336;
  transition: 1s;
}

.navbar .fa {
  display: none;
}

/* ------------about us page----- */

.aboutus-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("images/background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.heading-primary {
  font-size: 48px;
}

.content-container {
  max-width: 1140px;
  margin: 0 auto;
}

.aboutus-subheader {
  margin-top: 16px;
  font-size: 20px;
  padding: 32px 16px 0;
}

.aboutus-subheading {
  font-size: 40px;
}

.title {
  margin-top: 8px;
  padding: 8px 16px 0;
}

.title__copy {
  font-size: 40px;
  margin-top: 32px;
}

.about-row {
  display: flex;
  margin-bottom: 50px;
}

.about-col {
  flex-basis: 50%;
  padding: 32px 16px 0;
}

.para-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.para-copy {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
  text-align: justify;
}

.about-image {
  width: 100%;
  object-fit: cover;
}

.image-wrapper {
  order: 1;
}

.hero-btn--red {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.hero-btn--red:hover {
  color: #fff;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
}

.footer__heading {
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.footer__copy {
  font-size: 12px;
}

/* ------------courses page----- */

.content-section {
  padding: 4%;
}

.switcher {
  display: inline-flex;
}

.courses-cards {
  text-align: center;
}

.switcher-col {
  margin: 8px;
  padding: 16px;
  font-size: 15px;
  cursor: pointer;
}

.rounded-tabs {
  padding: 8px;
  border-radius: 200px;
  background-color: #2a2c2c;
}

.rounded-tabs-link {
  padding: 8px 24px;
  border-radius: 200px;
  border-width: 0;
  background-color: transparent;
  color: #fff;
}

.current-tab {
  background-color: #b8cdda;
  color: #2a2c2c;
}

.about-row--center-align {
  display: flex;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(39, 40, 44, 0.2);
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #f7f9fb;
}

.buy-card-header {
  padding: 24px 32px;
  box-sizing: border-box;
}

.buy-card-body {
  flex-basis: 50%;
  border-top-width: 1px;
  border-top-style: solid;
  box-sizing: border-box;
  padding: 24px 32px;
}

.buy-body-row {
  display: flex;
  align-items: baseline;
}

.buy-body-second-row {
  display: flex;
  padding-top: 24px;
}

.buy-body-third-row {
  display: flex;
  padding-top: 24px;
}

.price-right-align {
  margin-left: auto;
}

.text-hardness-low {
  font-size: 12px;
  font-weight: 400;
  color: rgba(39, 40, 44, 0.7);
}

.hero-btn--rounded {
  padding: 5px 20px;
  border-radius: 24px;
}

.nav-links__link--color-red {
  color: #f44336;
}

/* ------------admission page----- */

.admission-body {
  background-color: rgba(0, 0, 0, 0.04);
}

.content {
  margin-top: 16px;
  padding: 2% 4%;
}

.search-area {
  display: flex;
  background-color: #fff;
  padding: 16px 24px 30px 24px;
}

.dropdown {
  flex-basis: 25%;
}

.text-search {
  flex-basis: 50%;
  margin-left: 12px;
}

.button1 {
  flex-basis: 25%;
}

.search-area-element {
  margin-top: 16px;
  margin-right: 12px;
  position: relative;
}

.semester-dropdown {
  padding: 16px 40px 16px 12px;
  width: 100%;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position-x: 264px;
  background-position-y: 14px;
}

.search-input {
  width: 100%;
  padding: 16px 12px;
}

.hero-btn--search {
  width: 100%;
  flex-basis: 25%;
  margin-top: 16px;
  margin-left: 12px;
  cursor: pointer;
}

.main-content {
  display: flex;
}

.search-form {
  flex-basis: 25%;
  background: #fff;
  padding: 16px 24px;
  margin-right: 12px;
}

.search-result {
  flex-basis: 75%;
  margin-top: -8px;
  margin-left: 12px;
}

.filter-top {
  display: flex;
}

.column-heading {
  flex-basis: 50%;
  font-size: 1.25rem;
  font-weight: 500;
}

.reset {
  flex-basis: 50%;
  text-align: right;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #e42635;
  cursor: pointer;
}

.group {
  border-style: none;
  margin-top: 16px;
}

.group-option-radio {
  margin-top: 12px;
}

.input-radio {
  visibility: hidden;
}

.radio-label {
  border: 1px solid rgba(0, 0, 0, 0.67);
  padding: 16px 0;
  text-align: center;
  font-size: 0.875rem;
}

.group-option-radio {
  display: flex;
  margin-left: -13px;
}

.radio-label {
  width: 100%;
}

.group-label {
  font-weight: 500;
}

.row {
  margin-top: 12px;
}

.horizontalLine {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 16px -16px;
}

.level-checkbox {
  margin-right: 16px;
}

.fas {
  float: right;
  cursor: pointer;
}

.searchresult-card {
  background: #fff;
  margin-top: 8px;
  padding: 16px;
}

.font-light-color {
  color: rgba(0, 0, 0, 0.67);
}

.resultcard-content {
  display: flex;
  margin-top: 16px;
}

.resultcard-content-col {
  flex-basis: 50%;
}

.subtitle {
  font-weight: 600;
}

.dropdown-label {
  position: absolute;
  left: 12px;
  padding: 0 2px;
  top: -9px;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.67);
  background-color: #fff;
}

.style-icons {
  color: #f44336;
  margin: 0 12px;
  cursor: pointer;
  padding: 16px 0;
}

@media (max-width: 700px) {
  .about-row--center-align {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .hero-text__heading {
    font-size: 20px;
  }

  .nav-links__item {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 1;
    transition: 0.5s;
    display: none;
  }

  .navbar .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links__list {
    padding: 30px;
  }

  .about-row {
    flex-direction: column;
  }
}